<%- include('includes/head', {pageTitle: 'An error accurred!'}) %>
</head>
<body>
<%- include('includes/header') %>
	<main>
		<h1>Not authorized 401</h1>
		<p>Unfortunately, you not authorized!</p>
		<p><a class="btn" href="/">back to safety!</a></p>
	</main>
<%- include('includes/footer') %>