<%- include('includes/head', {pageTitle: 'No Products Found!'}) %>
</head>
<body>
<%- include('includes/header') %>
	<main>
		<h1>No Products Found!</h1>
		<p>Unfortunately, No Products Found</p>
		<p><a class="btn" href="/">back to home!</a></p>
	</main>
<%- include('includes/footer') %>