.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-form button {
    color: var(--color-primary-500-contrast);
    background: none;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    padding: var(--space-2);
  }
  
  .search-form button:hover {
    background-color: var(--color-primary-500-bg);
  }

  .search-form input {
    font: inherit;
    width: 10rem;
    padding: var(--space-2);
    color: var(--color-gray-50);
    background-color: var(--color-gray-500);
    border-radius: var(--border-radius-small);
    outline: none;
    border: none;
  }
  
  .search-form input:hover, .search-form input:focus {
    border-bottom: 1px solid var(--color-gray-100); 
  }
  
  .search-form input::placeholder {
    color: var(--color-gray-200);
  }
