<% if (orders.length > 0) {%>
<ol>
	<% for (const order of orders) { %>
	  <li>
		<%- include('order-item', { order: order }) %>
	  </li>
	<% } %>
  </ol>
<% } else { %>
  <h1 id="no-orders">No orders</h1>
<% } %>