


#auth-items {
  display: flex;
}

.divider {
  border-left: 1px solid rgb(160, 160, 160);
}

.nav-items ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.nav-items li {
  margin: var(--space-8) var(--space-2);
}

.categories-items ul {
  height: 100%;
  margin: 0 var(--space-4) var(--space-2) var(--space-4);
}

.nav-items a,
.categories-items a {
  padding: var(--space-2) var(--space-4);
  border-radius: var(--border-radius-small);
}

.nav-items button {
  cursor: pointer;
  font: inherit;
  border: 1px solid var(--color-primary-100);
  border-radius: var(--border-radius-small);
  background-color: transparent;
  padding: var(--space-2) var(--space-4);
}

.spacer {
  flex: 1;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 45rem) {
  #auth-items li {
    margin: 0;
  }

  .categories-items {
    width: 100%;
  }

  .categories-items ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }

  .nav-items {
    margin: 0.5rem 0 1rem 0;
  }

  .nav-items ul {
    flex-direction: row;
  }

  .nav-items li {
    margin: 0 var(--space-2);
  }

  .nav-items button {
    color: var(--color-primary-500);
    border-color: var(--color-primary-500);
  }

  .nav-items a,
  .categories-items a {
    padding: var(--space-2) var(--space-4);
    border-radius: var(--border-radius-small);
  }

  .nav-items a:hover,
  .categories-items a:hover,
  .nav-items a:active,
  .categories-items a:active {
    background-color: var(--color-primary-500-bg);
  }

  .spacer {
    flex: 0;
  }
}
