<% for (const category of locals.productCategories) { %>
  <% if (category.toLowerCase() !== 'all') { %>
    <li><a href="/products/<%= category.toLowerCase() %>"><%= category %></a></li>
  <% } %>
<% } %>