  <li><a href="/products/drones">Drones</a></li>
  <li><a href="/products/goggles">Goggles</a></li>
  <li><a href="/products/radio">RC Radio</a></li>
  <li><a href="/products/battery">Battery</a></li>
  <li><a href="/products/accessories">Accessories</a></li>

