<header id="main-header">
  <a id="logo" href="/"
    ><img src="/images/fpvfly-logo.png" alt="FPV Fly Logo"
  /></a>
  <div id="header-nav-column">
    <nav class="nav-items"><%- include('nav-items') %></nav>
    <nav class="categories-items">
      <ul>
      <%- include('categories-items') %>
    </ul>
    </nav>
  </div>
  <button id="mobile-menu-btn">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>
<aside id="mobile-menu">
  <nav class="nav-items"><%- include('nav-items') %></nav>
</aside>
