<header id="main-header">
  <a id="logo" href="/"
    ><img src="/images/fpvfly-logo.png" alt="FPV Fly Logo"
  /></a>
  <div id="header-nav-column">
    <div>
      <nav class="nav-items <%= locals.isAuth ? '' : 'small-vert-margin' %>"><%- include('nav-items') %></nav>
      <form id="search-form" method="GET" action="/products/search">
        <label for="search-input"></label>
        <input id="search-input" name="query" type="text" placeholder="Search" required/>
        <button  type="submit">
          <i class="fa-solid fa-magnifying-glass fa-lg icon-btn"></i>
        </button>
      </form>
    </div>

    <nav class="categories-items">
      <ul>
        <%- include('categories-items') %>
      </ul>
    </nav>
  </div>
  <button id="mobile-menu-btn">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>
<aside id="mobile-menu">j
  <nav class="nav-items"><%- include('nav-items') %></nav>
</aside>
