<ul>
	<% if (!locals.isAdmin) { %>
	<div>
		<li><a href="/cart">Cart <span class="badge"><% if (locals.cart) { %> <%= locals.cart.totalQuantity %> <% } else { %> 0 <% } %></span></a></li>
		<div id="categories-mobile"><%- include('categories-items') %></div>
	</div>
	<% } %>

	<% if (locals.isAuth && !locals.isAdmin) { %>
	<li><a href="/orders">Orders</a></li>
	<% } %>

	<% if (locals.isAdmin) { %>
		<li><a href="/admin/products">Manage Products</a></li>
		<li><a href="/admin/orders">Manage Orders</a></li>
		<div class="spacer"></div>
	<% } %>

	<% if (!locals.isAuth) { %>
		<div id="auth-items">
			<li><a href="/auth/signup">Signup</a></li>
			<div class="divider"></div>
			<li><a href="/auth/login">Login</a></li>
		</div>
	  <% } %>
	<% if (locals.isAuth) { %>
	<li>
	  <form action="/auth/logout" method="POST">
		<input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
		<button>Logout</button>
	  </form>
	</li>
	<% } %>
  </ul>