.slideshow-container {
  height: 17rem;
  margin: 3rem auto;
  padding: var(--space-8) var(--space-4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-gray-400);
  border-radius: var(--border-radius-medium);
}

.slide-text {
  margin: 0 5rem;
}

.slide-text h3 {
  margin: 0;
  color: var(--color-primary-200);
}
.slide-text h4 {
  margin: 0;
  color: var(--color-primary-400);
  text-decoration: line-through;
}

.slide {
  display: none;
  flex-direction: row;
  align-items: center;
}

.slide img {
  width: 70%;
  min-width: 14rem;
  height: 15rem;
  object-fit: cover;
  border-radius: var(--space-4);
}

.prev,
.next {
  cursor: pointer;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev:hover,
.next:hover {
  color: var(--color-primary-500);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* mediaquery */
@media screen and (max-width: 700px) {
  .slideshow-container {
    display: none;
  }
}
