<%- include('../../shared/includes/head', {pageTitle: 'All Products'}) %>
<link rel="stylesheet" href="/styles/products.css">
<script src="/scripts/management/product-management.js" defer></script>
</head>
<body>
<%- include('../../shared/includes/header') %>
	<main>
		<h1>Products Administration</h1>
		<section>
			<h2>Product Management</h2>
			<div id="management-btns">
				<a href="/admin/products/new" class="btn">Add Product</a>
				<a href="/admin/products/slider" class="btn">Edit Slider</a>
			</div>
		</section>
		<section>
		<ul id="products-grid">
			<% for (const product of products) { %>
			 <li>
               <%- include('../../shared/includes/product-item', { product: product, sliderView: false }) %>
			</li>
			<% } %>
		</ul>
		</section>
	</main>
<%- include('../../shared/includes/footer') %>